
body
{
  margin: 0;
  padding: 0;
  background-image: url(imgs/background/background.png); background-repeat: no-repeat; background-size: contain;
}
section{
  padding: 0 3%;
}
h1, h2, h3, h4, h5 a, p, span, input, button, li{
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 1440px) {
  body 
  {
    background-size: auto;
  }
}
.grey-font{
  color: grey;
}

.white-font{
  color: white;
}
.blue-font{
  color: royalblue;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
}
footer{
  background: #232233;
  padding: 250px 20px 40px 20px ;
}
.background-image{
  background-image: url(imgs/background/background.png);
  width: 100%;
  padding: 0;
}
.background-color{
  background-color: white;
}

.contacts-box{
  display: flex; 
  align-content: center; 
  margin: 0
}
.contacts-icon{
  height: 18px;
}

#menu{
  display: flex;
  justify-content: center;
}
.menu{
  margin-top: 20px;
  background-color: white;
  width: 90%;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

#logo{
  width: 130px;
}
.logo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: white;
  padding: 30px 10px;
  box-shadow: 0px 1px 10px 0px #0000001A;
  border-radius: 5px;
}
#burger-menu
{
  justify-self: start;
  margin-right: 45px;
  display: block;
  position: relative;
  margin-left: 5px;  
  z-index: 1;
}
#burger-menu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 3;
}
#burger-button
{
  width: 40px;
  height: 40px; 
  margin: 0;  
  padding: 0;
  display: block;
  position: relative;
  z-index: 2;
}
#burger-button span
{
  display: block;
  width: 33px;
  height: 4px;
  top: 7.50px;
  left: 8px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
#burger-button span:first-child
{
  transform-origin: 0% 0%;
}
#burger-button span:last-child
{
  transform-origin: 0% 100%;
}
#burger-menu input:checked ~ #burger-button span:first-child
{
  width: 20px;
  opacity: 1;
  transform: rotate(44deg) translate(7.5px, -1.5px);
  background: white;
}
#burger-menu input:checked ~ #burger-button span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#burger-menu input:checked ~ #burger-button span:last-child
{
  width: 20px;
  opacity: 1;
  transform: rotate(-44deg) translate(5.5px, 4px);
  background: white;
}
#burger-menu input:checked ~ #burger-button
{
  z-index: 2;
  opacity: 1;
  background: royalblue;
  border-radius: 100px;
  display: block;
}
#burger-menu input:checked 
{
  outline: none;
}
#burger-content
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -130px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 10px;
  background: white;
  list-style-type: none;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
#burger-content li
{
  padding: 10px 0 10px 85px;
  font-size: 22px;
}
#burger-menu input:checked ~ #burger-content
{
  transform: none;
}

.contacts{
  display: none;
}
header{
  margin-top: 30px;
}

.content{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.content-title{
  font-size: 20px;
  font-weight: 600;
}
.section-title{
  font-size: 25px;
  font-weight: 600;;
}

.download-button{
  background: royalblue;
  border-color: royalblue;
  border-style: none;
  padding: 14px 7px;
  border-radius: 5px;
  font-size: 13px;
}
.download-box{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 3.5px;
}

.hero-border{
  border: 10px solid #7572FF; margin: 120px 2% 0 0%; padding: 3% 0; right: 0; width: 75%; justify-content: start; min-width: 300px; max-width: 500px;
}
.hero-section{
  display: flex; justify-content: center; align-items: end; flex-direction: column;
}
.hero-box{
  width: 100%;
  margin-left: 50px; 
  align-self: start; 
  display: flex; 
  flex-direction: column; 
  padding: 4%; 
  position: relative;
  left: -28%;
}
.hero-image{
  height: 521px;
  align-self: center;
  justify-self: end;
  margin-top: 60px;
  margin-bottom: 90px;
}
.hero-image::after{
  height: 30px;
  background-color: black;
  background: black;
  color: black;
  right: 100px;
}
.hero-title{
  line-height: 37.5px;
  text-align: left;
}
.hero-content{
  margin-top: 0; 
  margin-bottom: 0;
}
.hero-download{
  margin: 5% 0; 
  line-height: 30px;
}
.hero-store{
  display: flex; 
  align-items: center; 
  gap: 18px;
}

.store-image{
  height: 34px;
}

.about-section{
  display: flex; flex-direction: column;
}
.about-title{
  align-self: center; margin-top: 80px;
}
.about-content{
  margin: 0% 8%; text-align: center; align-self: center;
}
.about-image{
  width: 75%; align-self: center; margin: 50px 0;
}
.about-features-box{
  display: flex; flex-direction: column; align-items: center; padding-bottom: 50px;
}
.about-feature{
  width: 95%; display: flex; align-items: start; padding: 2%; box-shadow: 0px 1px 10px 0px #0000001A; border-radius: 10px; margin: 12.5px 0;
}
.about-checkbox-image{
  margin-top: 15px;
}
.about-feature-content{
  margin: 0% 4%;
}
.about-box{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.feature-section{
  text-align: center; display: flex; flex-direction: column; align-items: center; padding-bottom: 50px;
}
.feature-title{
  padding-top: 80px;
}
.feature-content{
  padding: 0 40px;
}
.feature-box{
  margin-top: 45px;
}
.feature{
  padding: 0 90px; line-height: 30px;
}
.feature-info{
  padding: 0 70px; line-height: 24px;
}
.feature-image{
  height: 468px; margin-left: 37px; margin-top: 15px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color:white;
  overflow: hidden;
  z-index: 3;
  margin-bottom: 60px;
}
.profile-container::before, .profile-container::after{
  position: absolute;
  content: '';
  justify-self: center;
  align-self: center;
  width: 65%;
  height: 150%;
  background-color: mediumslateblue;
  transform: rotate(45deg);
  inset: 5px;
  z-index: 1;
  border-radius: 1%;
}
.profile-container::after{
  transform: rotate(-45deg);
}
.profile-container-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 97%;
  height: 97%;
  border-radius: 50%;
  background-color:white;
  overflow: hidden;
  z-index: 2;
}
.profile-image{
  width: 95%; ; align-self: center; z-index: 3;
}
.profile-name{
  font-size: 31.25px;
  font-weight: 700;
  padding-bottom: 12px;
}
.profile-social{
  display: flex; padding: 0; width: 100%; justify-content: center;
}
.profile-social li{
  width: 20%;
  border-right: 1px solid grey;
  height: 24px;
}
.profile-social li:last-child{
  border-right: 0;
}
.profile{
  display: flex; flex-direction: column;
}
.profile-box{
  display: flex; flex-direction: column; align-items: center; padding: 9% 4%; box-shadow: 0px 0px 20px 1px #0000001A; border-radius: 10px; margin-bottom: 25px;
}
.profile-section{
  text-align: center; display: flex; flex-direction: column; align-items: center;
}
.profile-info{
  margin: 18px 0 10px 0;
}
.profile-title{
  margin-top: 85px;
}
.profile-content{
  margin-top: 18px;
  margin-bottom: 50px;
}

.contact-section{
  display: flex; align-self: center; position: relative; bottom: -190px; height: 310px; flex-direction: column; padding: 9% 4%; box-shadow: 0px 0px 20px 1px #0000001A; border-radius: 10px; width: 80%;
}
main{
  display: flex; flex-direction: column;
}
.contact-1, .contact-2{
  height: 50%; display: flex; flex-direction: column; align-items: center; gap: 20px; justify-content: start;
}
.contact-2{
  justify-content: end;
}
.contact-icon-background{
  background-color: royalblue; height: 45px; width: 50px; border-radius: 50%; display: flex; justify-content: center; align-items: center;
}
.contact-icon{
  height: 20px;
}

.page-social{
  display: flex; padding: 0; width: 100%; justify-content: start;;
}
.page-social li{
  width: 20%;
  border-right: 1px solid white;
  height: 24px;
}
.page-social li:last-child{
  border-right: 0px;
}

.footer-logo{
  font-size: 31.25px; font-weight: 700; line-height: 47.25px;
}
.footer-social{
  display: flex; justify-content: center;
}
.footer-links{
  margin-top: 50px;
}
.footer-link-box{
  padding-left: 0;
}
.footer-link{
  padding-bottom: 10px
}
.footer-contact-box{
  margin-top: 65px;
  margin-bottom: 60px;
}
.footer-contact{
  display: flex; width: 100%; background-color: white; border-radius: 4px; margin-top: 30px; justify-content: end;
}
.footer-contact input{
  height: 50px; border: 1px solid white; border-radius: 4px 0 0 4px; width: 100%;
}
.footer-contact button{
  background-color: royalblue; border: 1px solid white; height: 50x; width: 50px; border-radius: 5px;
}
hr{
  background-color: white; border: 0.5px solid white;margin-bottom: 25px;
}
.copyright-box{
  display: flex; justify-content: center; align-items: center;
}
.copyright{
  font-size: 12.8px; font-weight: 300; text-align: center;
}
.footer-contact-box .content{
  padding-top: 10px;
}

@media (min-width: 767px) {
  .hero-section{
    flex-direction: row; align-items: center; margin-top: 210px; margin-bottom: 180px; justify-content: space-between; padding: 0 80px;
  }
  .hero-border{
    border: 15px solid #7572FF; margin: 0px 2% 0 0%; padding: 2% 0; max-width: 45%;
  }
  .hero-box{
    left: -28%;
  }
  .hero-box h1{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .hero-image{
    height: 423px;
    margin: 0;
  }

  .about-content{
    margin: 2% 18%;
  }
  .about-image{
    height: 100%;
    width: auto;
    padding-right: 40px;
    margin-left: 20px;
  }
  .about-box{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }
  .about-features-box{
    margin-right: 25px;
  }
}